<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理</title>
    <style>
        table{
            height: 18px;
            line-height: 18px;
            text-align: center;
            /*border-color:#b6ff00; */
            /*border-collapse: collapse;*/
        }
        table th,
        table td {
            overflow: hidden;
            /*height:*/
        }
        .td-description {
            width: 600px;
        }
        .banner-input {
            margin: 30px auto;
        }

        .shadow {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .3);
        }
        .mod_dialog {
            width: 400px;
            height: 200px;
            background-color: #fff;
            border: 1px solid black;
            margin-left: -200px;
            margin-top: -100px;
            padding: 10px;
            position: fixed;
            left: 50%;
            top: 50%;
            /*z-index: 5;*/
        }
        .mod_dialog a {
            text-decoration: none;
            color: black;
            display: inline-block;
            background-color: gray;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div class="page">
    <% include components/top.inc.ejs %>
    <div class="content-wrap">
        <div class="banner-input">
            <form action="http://localhost:8080/admin/banners" method="post">
                标题：<input type="text" name="title" /><br>
                描述：<textarea name="description"></textarea><br>
                链接：<input type="text" name="href"><br>
                <input type="submit" value="添加">
            </form>

        </div>

        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <th>描述</th>
                    <th>链接</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <% for(var i=0; i<banners.length; i++) { %>
                    <tr>
                        <td> <%= banners[i].ID %> </td>
                        <!--<td> <%= i+1 %> </td>-->
                        <td> <%= banners[i].title %> </td>
                        <td class="td-description"> <%= banners[i].description %> </td>
                        <td> <%= banners[i].href %> </td>
                        <td>
                            <a href="?act=mod&id=<%= banners[i].ID %>">修改</a>
                            <a href="?act=del&id=<%= banners[i].ID %>" onclick="return confirm('确认删除')">删除</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>

        <% if (typeof mod_data != 'undefined' ) { %>
            <div class="shadow"></div>
            <div class="mod_dialog">
                <!-- 修改数据用-->
                <form action="http://localhost:8080/admin/banners" method="post">
                    <input type="hidden" name="mod_id" value="<%= mod_data.ID %>">
                    标题：<input type="text" name="title" value="<%= mod_data.title %>" /><br>
                    描述：<textarea name="description"> <%= mod_data.description %> </textarea><br>
                    链接：<input type="text" name="href" value="<%= mod_data.href %>"><br>
                    <input type="submit" value="添加">
                    <a href="/admin/banners">取消修改</a>
                </form>
            </div>
        <% } %>
    </div>
</div>
</body>
</html>
























